body,ul{
    margin:0;
    padding:0;

}
ul{
    list-style: none;
}
/*顶部*/
#top{
    margin-top:20px;
    width:100%;
    height:70px;
    border:0;
}
#top .top_nav .left{
    float: left;
    color:#013C01;
    font-family: "Georgia", Tahoma, Sans-Serif;
    font-size: 20px;
    line-height: 18px;
}
#top .top_nav .right{
    float:right;
}
.right li a{
    color:#013C01;
}
.right li a:hover {
    color: green;
}
/*标签栏*/
#box{
    float:right;
    width:50px;
    position: fixed;
    height:100%;
}
#box .menu li{
    width:50px;
    text-align: center;
    line-height: 30px;
    float: left;
}
#box .menu li i{
    line-height: 30px;

}
#box .menu li a,
#box .menu li i{
    color:#013C01;
    text-decoration: none;
    display:block;
    border: 1px solid white;
    border-radius: 10px;
    background-color: palegreen;
}
#box .menu li a:hover,
#box .menu li a:after,
#box .menu li i:hover,
#box .menu li i:after,
#box .back li i:hover,
#box .back li i:after{
    color:green;
    font-size:15px;
}
#box .back li a,
#box .back li i{
    width:50px;
    height:50px;
    border-radius: 25px;
    color:#013C01;
    border: 1px solid white;
    background-color: palegreen;
    line-height: 50px;
    text-align: center;
}
/*搜索栏*/
/*背景层*/
#popLayer {
    display: none;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
/*弹出层*/
#popBox {
    display: none;
    background-color: #FFFFFF;
    z-index: 11;
    width: 600px;
    height: 200px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}
#popBox .center{
    height:80px;
    width:450px;
    margin:0 auto;
}
#popBox .center i{
    margin-left: 5px;
    line-height:80px;
 }
#popBox .center .left{
    font-size: 20px;
    height:30px;
    width:400px;
    border-radius: 5px;
    border: 1px solid #333;
}
/*关闭按钮*/
#popBox .close{
    text-align: right;
    margin-right: 5px;
    background-color: #F8F8F8;
}
#popBox .close a {
    text-decoration: none;
    color: #2D2C3B;
}
/*选项*/
#option{
    hight:70px;
    width:100%;
}
#option .center{
    width:700px;
    height:70px;
    margin:0 auto;
    text-align: center;
}
#option .link{
    width:700px;
    height:70px;

}
#option .link .z{
    width:332px;
    float: left;
    line-height:70px;
    font-size: 25px;
}
#option .link .line{
    width:30px;
    float:left;
    line-height: 70px;
    font-size:25px;
}
#option .link li a{
    color:#013C01;
    text-decoration: none;
    display:block;
}
#option .link li a:hover,
#option .link li a:after{
    color:green;
    font-size:35px;
}
/*内嵌框架*/
iframe{
    width:100%;
    border:0;
    height:630px;
}
/*栏目*/
#column{
    margin-left: 60px;
    margin-right:20px;

}
#column .col{
    width:100%;
    height:300px;
    position: relative;
}
#column .col .bookshelf{
    position:absolute;
}
#column .col .colname{
    float: right;
    width:100%;
    height:50px;
}
/*#column .col hr{
    color: forestgreen;
    width:100%
}*/
#column .col .colname aa{
    float: right;
    font-size: 25px;
    color: darkgreen;
}
/*书（改）*/
#column .col .bookshelf ul bb{
    float: left;
    width:120px;
    height:30px;

}
#column .col .bookshelf{
    width:100%;
    height:170px;


}
#column .col #divBot{
    float:right;
    margin-bottom: 30px;
    margin:2px;
}
/*footer*/
footer{
    height:60px;
    background-color: lightgrey;
    text-align: center;
}