<style>
    #searching{
        height: 150px;
    }
    .search-input{
        display: inline-block;
        width: 400px;
        height: 36px;
        margin-top:50px;
        border:1px solid #dbdbdb;
    }
    .search-btn{
        display: inline-block;
        height: 36px;
        width: 60px;
        text-align: center;
        text-indent: 5px;
        letter-spacing: 4px;
        color:#fff;
        background: #bf2c24;
        vertical-align: top;
        margin-top: 50px;
        margin-left: -5px;
        padding-top: 8px;
    }
    .search-btn:hover{
            text-decoration: none;
            color: #fff;
            background-color: #d9534f;
    }
/*   搜索内容 */
    .tool-bar{
        z-index: 1;
        height: 40px;
        background: #f7f6f2;
        margin-bottom: 30px;
        color: #a6a6a6;
        padding-top: 10px;
        min-width: 1200px;
    }
    .count-info{
        float: right;
        margin-right: 20px;
    }
    .count-info span{
        color: #00CDCD;
    }
    .count-tip{
        margin-left: 20px;
        color: #ed4259;
    }
    .content-list{
        min-width: 1200px;
        margin-bottom: 30px;
    }
    .content-list ul{
        list-style: none;
    }
    .book-img{
        overflow: hidden;
    }
    .book-img img{
        width: 102px;
        height: 136px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    }
    .book-img img:hover{
        -ms-transform:scale(1.1,1.2); /* IE 9 */
        -webkit-transform: scale(1.1,1.2); /* Safari */
        transform: scale(1.1,1.2); /* 标准语法 */
    }
    .book-info{
        margin-left: -75px;
    }
    .book-name{
        color:saddlebrown;
    }
    .book-name:hover{
        text-decoration: none;
        color: #d9534f;
    }
    .author{
        color: #a6a6a6;
    }
    .author a{
        text-decoration: none;
        color: #a6a6a6;
    }
    .author a:hover{
        text-decoration: none;
        color: #d9534f;
    }
    .book-right p{
        float: right;
        margin-top: 10px
    }
    .con-button{
        margin-top: 110px;
    }
    .con-button .bn1{
        margin-right: 20px;
        margin-left: 185px;
    }
    .intro{
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
    }
    .update a{
        color: #3f5a93
    }
    .update a:hover{
        color: blueviolet;
        text-decoration: none;
    }
    /*作者信息显示*/
    .author-info img{
        width: 120px;
        height: 120px;
    }
    .author-info .author-intros{
        margin-left: 40px;
    }
    .author-info .author-intros p{
        z-index: 10;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
    }
    .author-book {
        margin-left: 50px;
    }
    .author-book p{
        overflow: hidden;
        text-align: center;
        font-size: 12px;
    }
    .author-book p img{
        width: 68px;
        height: 88px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    }
    .author-book p img:hover{
        -ms-transform:scale(1.1,1.2); /* IE 9 */
        -webkit-transform: scale(1.1,1.2); /* Safari */
        transform: scale(1.1,1.2); /* 标准语法 */
    }
    .author-intros a:hover{
        text-decoration: none;
        color: #9B410E;
    }
    .author-book a:hover{
        text-decoration: none;
    }
</style>
<div id="searching"class="text-center">
    <div>
        <form >
            <input type="search" name="search-input" class="search-input" placeholder="斗破苍穹">
            <a class="search-btn"><b>搜索</b>
            </a>
        </form>
    </div>
</div>

<div class="search-content container">
    <if condition="$count eq 0">
        <div style="text-align: center">
            <h4>没有输入有效关键词</h4>
        </div>
        <div class="not_search">
            <h3 style="border-bottom: 1px solid black;padding-bottom: 20px">新书推荐</h3>
            <div class="content-list" style="margin-top: 20px">
                <ul>
                    <foreach name="res" item="v">
                        <li>
                            <div class="row">
                                <div class="book-img col-sm-2">
                                    <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" target="_blank">
                                        <img src="__PUBLIC__/{$v.picture}">
                                    </a>
                                </div>
                                <div class="book-info col-sm-7">
                                    <h4 ><a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" class="book-name">{$v.name}</a>
                                    </h4>
                                    <p class="author"><a><span class="glyphicon glyphicon-user"></span> <span>{$v.user_name}</span></a> &nbsp;|&nbsp; <a><span>{$v.tag}</span></a> &nbsp;|&nbsp;
                                        <if condition="$v.is_dong eq '0'">
                                            <span>连载</span>
                                            <else />
                                            <span>完结</span>
                                        </if>
                                    </p>
                                    <p class="intro">
                                        {$v.info}
                                    </p>
                                    <div class="update">
                                        <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" >最新更新 <span>{$v.new_section.section}</span> <span>{$v.new_section.title}</span></a>
                                        <span>2019-12-29</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 book-right">
                                    <p>{$v.font_count} 总字数</p>
                                    <div class="con-button">
                                        <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" class="btn btn-danger bn1" >书籍详情</a>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top: 10px"/>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
    <else />
        <div class="is_search">
            <if condition="$is_author eq 1">
                <div class="author-info">
                    <h3>作者</h3>
                    <hr style="border-bottom:1px solid black "/>
                    <foreach name="author" item="v">
                        <div class="row" style="margin-bottom: 20px">
                        <div class="col-sm-1">
                            <a href="__CONTROLLER__/showAuthor/author/{$v.id}"><img src="__PUBLIC__/{$v.picture}" class="img-circle"></a>
                        </div>
                        <div class="col-sm-4 author-intros">
                            <h4><a href="__CONTROLLER__/showAuthor/author/{$v.id}" style="color: black">{$v.name}</a></h4>
                            <p>简介:{$v.per_signature}</p>
                            <p><span>作品数：{$v.bookcount}</span></p>
                        </div>
                        <div class="col-sm-6 author-book">
                            <div class="row">
                                <for start="0" end="$v.bookcount" name="i">
                                    <if condition="$i lt 6">
                                        <div class="col-sm-2" style="margin-left: -10px">
                                            <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v['authorbook'][$i]['id']}" style="color: black">
                                                <p><img src="__PUBLIC__/{$v['authorbook'][$i]['picture']}"></p>
                                                <p>{$v['authorbook'][$i]['name']}</p>
                                            </a>
                                        </div>
                                    </if>
                                </for>
                            </div>
                        </div>
                        </div>
                    </foreach>
                </div>
            <else />
                <div class="tool-bar">
                    <div class="count-info">
                        <p>共 <span>{$count}</span> 本相关作品</p>
                    </div>
                    <div class="count-tip">
                        <p>搜到的内容</p>
                    </div>
                </div>
                <div class="content-list">
                    <ul>
                        <foreach name="book" item="v">
                            <li>
                                <div class="row">
                                    <div class="book-img col-sm-2">
                                        <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" target="_blank">
                                            <img src="__PUBLIC__/{$v.picture}">
                                        </a>
                                    </div>
                                    <div class="book-info col-sm-7">
                                        <h4 ><a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" class="book-name">{$v.name}</a>
                                        </h4>
                                        <p class="author"><a href="__CONTROLLER__/showAuthor/author/{$v.user_id}"><span class="glyphicon glyphicon-user"></span> <span>{$v.user_name}</span></a> &nbsp;|&nbsp; <a><span>{$v.tag}</span></a> &nbsp;|&nbsp;
                                            <if condition="$v.is_dong eq '0'">
                                                <span>连载</span>
                                                <else />
                                                <span>完结</span>
                                            </if>

                                        </p>
                                        <p class="intro">
                                            {$v.info}
                                        </p>
                                        <div class="update">
                                            <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" >最新更新 <span>{$v.new_section.section}</span> <span>{$v.new_section.title}</span></a>
                                            <span>2019-12-29</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 book-right">
                                        <p>{$v.font_count} 总字数</p>
                                        <div class="con-button">
                                            <a href="__MODULE__/StoryShow/readerStoryShow/s_id/{$v.id}" class="btn btn-danger bn1" >书籍详情</a>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin-top: 10px"/>
                            </li>
                        </foreach>
                    </ul>
                </div>
            </if>
        </div>
    </if>
</div>

<script>
    //当搜索链接被点击时执行
    $(".search-btn").click(function () {
        if($('.search-input').val()== ''){
            $(this).attr("href","__CONTROLLER__/search/kw/"+$('.search-input').attr('placeholder'));
        }else {
            $(this).attr("href","__CONTROLLER__/search/kw/"+$('.search-input').val());
        }


    });
</script>