{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>write it now!</title>
    <link href="__PUBLIC__/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
</head>
<body>
<!--顶部-->
<div id="top">
    <div class="top_nav">
        <ul class="left">
            <present name="mid">
                <li><a href="__MODULE__/User/index"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i> Hello，{$mname}！[<a href="__MODULE__/User/logout">退出</a>]<li>
                <else/>
                <li>Hello！[<a href="__MODULE__/User/login">登录</a>][<a href="__MODULE__/User/register">免费注册</a>]</li>
            </present>
        </ul>
        <ul class="right">
            <li><a href="#"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>

<!--选项-->
<div id="option">
    <section class="center">
        <ul class="link">
            <li class="z"><a href="__MODULE__/Index/shouye" target="myiframe">首页</a></li>
            <li class="line">|</li>
            <li class="z"><a href="__MODULE__/Iframe/discuss_list" target="myiframe">讨论</a></li>
        </ul>
    </section>
</div>
<!--内嵌框架-->
<section>
    <iframe src="__MODULE__/Index/shouye" name="myiframe" scrolling="yes"> </iframe>
</section>


<!--footer-->
{__CONTENT__}

<footer><p>write it now!</p>
    <p>win</p></footer>
</body>
</html>
