{__NOLAYOUT__}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WIN网站——个人中心</title>
    <link href="__PUBLIC__/css/member.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <link href="__PUBLIC__/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        .bhr{
            width:50px;
            border-bottom: 3px solid red;
            margin-left: -8px;
            margin-top: 15px;
        }
        .hj{
            color: red;
        }
        .bs:hover{
            border: 1px solid palevioletred;
        }

    </style>
</head>
<body style="background-color: #F2F2F2">
<div class="container" style="background-color: white;margin-top: 100px;padding-bottom: 30px;padding-top: 20px">
    <div class="row">
        <div class="col-sm-2 col-xs-5">
            <!--创建模态框	 -->
            <a href="#" data-toggle="modal" data-target="#myModal1">
                <img src="__PUBLIC__/{$user.picture}" alt="..." class="img-circle" style="width: 100px">
            </a>
            <br />
            <br />
            <a href="#" data-toggle="modal" data-target="#myModal" style="display: block;margin-left: 20px" >个人资料设置</a>
        </div>
        <div class="col-sm-8 col-xs-10" style="padding-top: 20px">
            <div class="col-sm-5">
                <h3>{$user.name}</h3>
                <br />

                <p>{$user.per_signature}</p>
            </div>
            <div class="col-sm-5" style="padding-top: 25px">
                <p ><span style="color:#00CDCD">电话: </span >{$user.tel}</p>
                <p ><span style="color:#00CDCD">邮箱: </span>{$user.email}</p>
                <p ><span style="color:#00CDCD">个性签名: </span>{$user.per_signature} </p>
                <p></p>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2">

            <a href="__MODULE__/Index/index" style="float: right;margin-right: 15px">首页</a>
            <div class="dropdown" style="float: right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#myModal">修改资料</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal4">修改密码</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: white;margin-top: 15px;padding-top: 15px;min-height: 600px;">
    <div class="row" style="margin-left: 5px">
        <div class="col-sm-1" onclick="location='__MODULE__/User/index'" >
            <h4 class="hj1" style="color:red">栏目 {$Think.session.story_count}</h4>
            <div class="dliv" style="width:70px;border-bottom: 3px solid red;margin-left: -8px;margin-top: 15px"></div>
        </div>
        <div class="col-sm-1">
            <h4 class="hj1">说说</h4>
            <div class="dliv"></div>
        </div>
        <div class="col-sm-1">
            <h4 class="hj1">收藏</h4>
            <div class="dliv"></div>
        </div>
        <div class="col-sm-1">
            <h4 class="hj1">关注</h4>
            <div class="dliv"></div>
        </div>
        <div class="col-sm-1">
            <h4 class="hj1">专栏</h4>
            <div class="dliv"></div>
        </div>
        <div class="col-sm-1" onclick="location='__MODULE__/Checking/checkingList'">
            <h4 class="hj1">审核 {$Think.session.check}</h4>
            <div class="dliv" style="width:70px"></div>
        </div>
        <div class="col-sm-1" onclick="location='__MODULE__/Message/messageList'">
            <h4 class="hj1">消息 {$Think.session.messages}</h4>
            <div class="dliv" style="width:70px"></div>
        </div>
    </div>
    <hr style="margin-top: 0px" />
    <div>
        <span style="color:blue;margin-left:5px;margin-right: 20px">栏目 {$Think.session.story_count}</span> | <a  data-toggle="modal" data-target="#myModal2" >新建栏目</a>
    </div>
    <br />
    <button class="btn btn-danger" >修改栏目</button>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="col-sm-6">
        <img src="__PUBLIC__/{$res.picture}" style="width: 200px;height: 200px;margin-bottom: 20px">
            <form  method="post" action="__CONTROLLER__/subAlterStory" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="picture">修改主题图片</label>
                    <input type="file" class="form-control" id="picture" name="file" placeholder="picture">
                </div>
                <div class="form-group">
                    <label for="name">栏目名称</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name" value="{$res.name}">
                </div>
                <div class="form-group">
                    <label for="info">简介</label>
                    <textarea class="form-control" rows="5" id="info" name="info">{$res.info}</textarea>
                </div>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <select class="form-control" id="tag" name="tag">
                        <option >武侠</option>
                        <option >恐怖</option>
                        <option >言情</option>
                        <option >推理</option>
                        <option >悬疑</option>
                        <option >历史</option>
                        <option >军事</option>
                        <option >科幻</option>
                        <option >网游</option>
                        <option >玄幻</option>
                        <option >逸体</option>
                        <option >耽美</option>
                        <option >穿越</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="is_doing"></label>
                    <select class="form-control" id="is_doing" name="is_doing">
                        <option >完结</option>
                        <option selected>连载</option>
                    </select>
                </div>
                <input type="hidden" name="id" value="{$res.id}">
                <button type="submit" class="btn btn-primary">保存</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>