<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WIN网站——登录</title>
    <link href="__PUBLIC__/css/member.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="box">
    <h1>WIN网站——欢迎登录</h1>
    <div id="main">
        <div class="login-ad left">广告位</div>
        <form method="post">
            <table class="login right">
                <tr><th>用户名：</th><td><input type="text" name="tel" placeholder="用户注册电话号码" /></td></tr>
                <tr><th>密码：</th><td><input type="password" name="pwd" placeholder="请输入密码" /></td></tr>
                <tr><th>验证码：</th><td><input type="text" name="captcha" /></td></tr>
                <tr><td>&nbsp;</td><td><img src="__CONTROLLER__/captcha" onclick="this.src='__CONTROLLER__/captcha/'
                                +Math.random()" /></td></tr>
                <tr><td>&nbsp;</td><td><input class="button" type="submit" value="登录" /></td></tr>
                <tr><td colspan="2" class="center"><a href="__CONTROLLER__/register">立即注册</a>
                    <a href="__APP__/">返回首页</a> </td></tr>
            </table>
        </form>
        <div class="clear"></dic>
        </div>
    </div>
</div>
</body>
</html>