<div class="title1" style="color:#09C;font-weight:bold;">栏目管理</div>

<div class="story">
    <div  style="margin-bottom: 30px;margin-top: 20px" >
        <a class="btn btn-primary" href="__CONTROLLER__/storyList">栏目列表</a>
        <a class="btn btn-primary" href="__CONTROLLER__/searchStory">搜索栏目</a>
    </div>

    <div >
        <a class="btn btn-warning">栏目信息</a>
        <div class="container" style="margin-top: 20px">
            <div class="row">
                <div class="col-sm-2 col-xs-12" style="margin-left: -20px;">
                    <img src="__PUBLIC__/{$story.picture}" style="width: 200px;height: 200px"/>
                </div>
                <div class="col-sm-8 col-xs-12" style="margin-left: 20px">
                    <h4 style="display: inline">{$story.name}</h4><span style="border: 1px solid red;margin-left: 5px;color: #8B6914">{$story.tag}</span>
                    <span style="border: 1px solid red;margin-left: 5px;color: #8B6914">
                        <if condition="$story.is_doing == 0">
                                连载中
                            <else />
                                已完结
                        </if>
                    </span>
                    <br />
                    <span style="color:#858585;">作者：{$story.user_name}</span>
                    <p  style="color:#858585;">简介：{$story.info}</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        <button class="btn btn-warning">章节</button>
        <div class="container">
            <div class="row" style="margin-top: 20px;margin-bottom: 50px">
                <if condition="$empty==1">
                    <h1>您现在还没有章节</h1>
                    <else />
                    <foreach name="res2" item="v">
                        <div class="col-sm-4 col-xs-6 text-center section" style="margin-bottom: 30px">
                            <a class="btn btn-danger" onclick="location='__CONTROLLER__/storySectionDetail/section_id/{$v.id}'">{$v.section} {$v.title}</a>
                        </div>

                    </foreach>
                </if>
            </div>
        </div>
    </div>

</div>