<style>
    .reader_crumb{
        margin-top: 30px;
        color: #666;
    }
    .reader_crumb a{
        color: #666;
    }
    .reader_crumb a:hover{
        color: #2aabd2;
    }
    .book-info{
        text-align: center;
    }
    .book-info p{
        color: #999;
        font-size: 12px;

    }
    .book-info a:hover{
        text-decoration: none;
    }
    .section-con{
        margin-top: 30px;
        background: #f5f5f5;
        border-radius: 2px;
        margin-bottom: 25px;
        height: 40px;
        font-size: 12px;
        padding-top: 12px;
    }
    .con1{
        float: right;
        margin-right: 30px;
    }
    .section-con a{
        color: black;
    }
    .section-con a:hover{
        text-decoration: none;
        color: #9B410E;
    }
    .v-line{
        border-left: 4px solid #fc7403;
    }
    .section-content .section a{
        display: inline-block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        text-align: center;
        border-radius: 2px;
        letter-spacing: 1px;
        color: #333;
        padding-top: 10px;
    }
    .section-content .section a:hover{
        text-decoration: none;
        color: red;
        background-color: #c8e5bc;
    }
</style>
<div class="sectionList container">
    <div class="reader_crumb">
        <a href="__MODULE__/Index/index">首页</a>
        &nbsp;>&nbsp;
        <a>{$story.tag}频道</a>
        &nbsp;>&nbsp;
        <a href="__CONTROLLER__/readerStoryShow/s_id/{$story.id}">{$story.name}</a>
        &nbsp;>&nbsp;
        <span>目录</span>
    </div>
    <div class="book-info">
        <h3>{$story.name}</h3>
        <p>
            <span>作者： <a>{$story.user_name}</a></span>&nbsp;&nbsp;
            <span>最新章节：<a href="__CONTROLLER__/storyInfo/s_id/{$story.id}/section/{$new.id}">{$new.section} &nbsp;{$new.title}</a></span>
            &nbsp;&nbsp;<span>更新时间：{$new.create_time}</span>
        </p>

    </div>
    <div class="section-con">
        <span class="con1"><a href="__CONTROLLER__/storyInfo/s_id/{$story.id}">[全文阅读]</a></span>
    </div>

    <div class="section-content">
        <h4><span class="v-line"></span> &nbsp;共{$count}章 · {$story.font_count}字</h4>
        <div class="section" >
            <foreach name="section" item="v">
                <div class="col-sm-4 col-xs-6 text-center " >
                    <a href="__CONTROLLER__/storyInfo/s_id/{$story.id}/section/{$v.id}">{$v.section} {$v.title}</a>
                </div>
            </foreach>
        </div>
    </div>
</div>